@import "setup";
@import "variables";

@mixin flex() {
    display: flex;
    justify-content: space-between;
}

nav {
    a:hover, a:focus {
        text-decoration: underline $reBlue 2px;
    }
}

h3 {
    position: relative;
}

.mid-nav {
    h3:hover::before {
        content: "";
        height: 100%;
        width: 100%;
        background-color: rgba(134, 224, 249, 0.2);
        display: inline-block;
        position: absolute;
        bottom: 0px;
        left: -10px;
    }
}

html {
    font-size: 62.5%; // 10px
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 2rem; // 20px
    line-height: 32px;
    color: $white;
    background-color: $dbGrey;
}

.wrapper {
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.wrapper-max {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

span {
    display: block;
}

*, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1, h2, h3, a, input[type="submit"], .email {
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif;
    color: $white;
}

h2, h3, a, input[type="submit"] {
    letter-spacing: 1px;
}

h1 {
    font-size: 8rem;
    line-height: 92px;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 3.2rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

nav {
    a {
        line-height: 29px;
    }
}

a, input[type="submit"] {
    font-size: 2rem;
    line-height: 32px;
    text-decoration: none;
    border: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

header {
    background-size: cover;
    padding-top: 20px;
}

nav {
    ul {
        display: flex;
        justify-content: flex-end;
        li {
            margin-left: 40px;
            a {
                color: $white;
                text-decoration: none;
                &.current {
                    color: $reBlue;
                }
            }
        }
    }
}

.half {
    width: 50%;
}

@mixin button($bColor, $width) {
    background-color: $bColor;
    padding: 10px 20px;
    width: $width;
}

.lb-button {
    @include button($reBlue, max-content);
    color: $dbGrey;
}

.lb-button:hover, .lb-button:focus {
    text-decoration: underline $dbGrey 2px;
}

.db-button {
    @include button($dbGrey, max-content);
    padding: 10px 20px;
}

.db-button:hover, .db-button:focus,
.g-button:hover, .g-button:focus {
    text-decoration: underline $white 2px;
}

.g-button {
    @include button($spruce, 100%);
    padding: 10px 20px;
}

.green-bg {
    background-color: $spruce;
}

footer {
    background-color: $reBlue;
    text-align: center;
    padding: 5px 0;
    p {
        color: #000;
    }
}

// Index styles

.index {

    p {
        margin-bottom: 20px;
    }

    footer p {
        margin: 0;
    }

    header {
        height: 80vh;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/header-image.jpg");
        h1 {
            font-size: 13.8rem;
            line-height: 126px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 90%;
        }
        img {
            position: absolute;
            bottom: -100px;
            right: 0px;
        }
    }

}

.under-sea {
    padding: 120px 0;
    text-align: center;
    p {
        text-align: left;
    }
}

.quarter-articles {
    @include flex();
    flex-wrap: wrap;
    li {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &.text-wrapper {
            padding: 40px 0;
        }
       &.right-align {
           text-align: right;
           a {
               margin-left: auto;
           }
       }
       img {
            height: 100%;
            &.left-image {
                position: relative;
                bottom: 40px;
                right: 40px;
                box-shadow: 40px 40px 0 $reBlue;
            }
            &.right-image {
                position: relative;
                top: 40px;
                left: 40px;
                box-shadow: -40px 40px 0 $reBlue;
            }
       }
    }
}

.mid-nav {
    padding: 120px 0 60px 0;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            display: flex;
            margin-bottom: 20px;
            .iconify {
                width: 50px;
                height: 50px;
                background-color: $reBlue;
                border-radius: 50%;
                padding: 10px;
            }
            div {
                width: calc(100% - 50px);
                padding-left: 20px;
            }
        }
    }
}

.oh-look-shark {
    background-image: url("../images/banner.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center;
}

.profile {
    padding: 60px 0;
    @include flex();
    .small-box {
        width: 200px;
        height: 200px;
        box-shadow: 30px 30px 0 $reBlue;
    }
    .profile-blurb {
        width: calc(100% - 220px - 30px);
        padding-left: 20px;
    }
}

.gallery {
    padding: 60px 0;
    .flex {
        @include flex();
        div {
            width: 32%;
        }
    }
}

// Contact styles

.social {
    width: 25%;
    padding-top: 100px;
    .social-icons {
        display: flex;
        li {
            margin-right: 10px;
        }
    }

    .address {
        margin-bottom: 100px;
        .email {
            font-size: 2.5rem;
            margin: 10px 0;
        }
    }
}

.contact-right {
    width: 73%;
    position: absolute;
    right: -30px;
    top: -250px;
    h1 {
        margin-bottom: 20px;
    }
    .form {
        padding: 40px;
        box-shadow: -30px 30px 0 $reBlue;
        .db-button {
            width: 100%;
        }
    }
}

.upper-form {
    margin-bottom: 20px;
}

form {
    .text-box {
        @include flex();
        margin-bottom: 20px;
    }
    input, textarea {
        background-color: $spruce;
        border: none;
        border-bottom: 1px solid $reBlue;
        width: 49%;
        color: $white;
        padding: 10px;
    }
    textarea {
        border: 1px solid $reBlue;
        width: 100%;
        height: 200px;
        margin-bottom: 30px;
    }
}

.contact {

    header {
        background-image: url("../images/contact-header.jpg");
        height: 50vh;
    }

    .flex {
        @include flex();
        align-items: baseline;
        position: relative;
    }

}

// Blog styles {

    .blog {
        header {
            background-image: url("../images/blog-header.jpg");
            height: 50vh;
        }

        aside {
            li {
                list-style-type: circle;
                margin-left: 20px;
            }
            h3 {
                font-size: 2rem;
            }
        }

        h2 {
            padding-top: 20px;
        }

        form {
            div {
                @include flex();
            }
            input {
                background-color: $dbGrey;
                margin-bottom: 20px;
            }
            textarea {
                background-color: $dbGrey;
            }
        }

        main {
            @include flex();
            flex-direction: row-reverse;
        }

    }

    aside { 
        width: 32%;
        height: max-content;
        padding: 300px 0 20px 10px;
        margin-top: 80px;
        position: relative;
        img {
            height: 300px;
            width: 400px;
            position: absolute;
            top: -20px;
            right: 20px;
        }
    }

    .r-post {
        margin-top: 40px;
    }

    .right-column {
        width: 65%;
        position: relative;
        bottom: 250px;
        margin-bottom: -230px;
    }

    .blog-post-img {
        position: relative;
        left: 20px;
        bottom: 20px;
        img {
            box-shadow: -20px 20px 0 $reBlue;
        }
    }

    .blog-blurb {
        border-left: 2px solid $reBlue;
        border-bottom: 2px solid $reBlue;
        padding-left: 20px;
    }

    .date {
        margin-bottom: 20px;
    }

    .avatar {
        width: 10%;
        img {
            height: min-content;
        }
    }
    
    article {
        @include flex();
        align-items: flex-start;
        width: 100%;
        margin: 20px 0;
        p {
            margin: 0;
        }
    }
    
    .comment {
        width: 87%;
    }
    
    .data {
        line-height: initial;
        margin-bottom: 15px;
    }
    
    .comment-section {
        margin: 40px 0 40px 40px;
    }

// Media Queries
    @media (max-width: 940px) {
        .contact-right {
            width: 70%;
        }
        h1 {
            font-size: 6rem;
        }

        .blog {
            aside {
                h3 {
                    font-size: 1.8rem;
                }
            }
        }
    }

    @media (max-width: 768px) {
        nav {
            ul {
                justify-content: space-between;

                li {
                    margin-left: 0;
                }
            }
        }

        h2 { 
            font-size: 3.5rem;
        }

        .quarter-articles {
            flex-direction: column;
            padding: 20px 0;
            li {
                width: 100%;
                img {
                    &.left-image {
                        position: static;
                        box-shadow: unset;
                    }
                    &.right-image {
                        position: static;
                        box-shadow: unset;
                    }
               }
            }
        }

        .mid-nav {
            padding: 30px 0 30px 0;
            ul {
                flex-direction: column;
                li {
                    width: 100%;
                }
            }
        }

        .profile {
            flex-direction: column;
            .small-box {
                width: 100%;
                height: 100%;
                box-shadow: unset;
            }
            .profile-blurb {
                width: 100%;
                padding-top: 20px;
                padding-left: 0px;
            }
        }
        
        .gallery {
            padding: 60px 0;
            .flex {
                div {
                    width: 32%;
                }
            }
        }

        h1 {
            font-size: 4rem;
        }

        .social {
            width: 100%;
            padding-top: 320px;
        
            .address {
                margin-bottom: 20px;
            }
        }
        
        .contact-right {
            width: 100%;
            right: 0px;
            .form {
                box-shadow: unset;
            }
        }
        
        .contact {
        
            .flex {
                flex-direction: column-reverse;
            }
        
        }

        .blog {
    
            main {
                flex-direction: column;
            }
    
        }
    
        aside { 
            width: 100%;
            img {
                width: 100%;
            }
        }
    
        .right-column {
            width: 100%;
            bottom: 200px;
        }
    
        .blog-post-img {
            position: static;
            img {
                box-shadow: unset;
            }
        }
        
        .comment-section {
            margin: 40px 0 40px 0px;
        }
        
    }

    @media (max-width: 480px) {

        .index {
        
            header {
                h1 {
                    font-size: 6rem;
                    line-height: initial;
                }
                img {
                    bottom: -20px;
                }
            }
        }

        .under-sea {
            padding: 30px 0;
        }
    
        aside { 
            padding: 20px 10px 20px 10px;
            img {
                height: auto;
                width: 100%;
                position: static;
            }
        }

    }