html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

$blue: #86E0F9;
$green: #0F614E;
$dBGrey: #0C1423;

.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

html {
    font-size: 62.5%; // 10px
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #FFF;
    font-size: 2rem;
    line-height: 32px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body, h1, h2, h3, ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, a, input[type="submit"] {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

header {
    padding-top: 10px;
}

span {
    display: block;
}

h1 {
    font-size: 8rem;
    line-height: 92px;
}

.index h1 {
    font-size: 13.8rem;
    line-height: 126px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2, h3, nav {
    letter-spacing: 1px;
}

h2 {
    font-size: 4.2rem;
    line-height: initial;
}

h3 {
    font-size: 3.2rem;
    line-height: initial;
}

nav ul {
    font-size: 2rem;
    line-height: 29px;
    list-style: none;
    display: flex;
    justify-content: flex-end;

    li {
        margin: 0 15px;
    }
}

.current {
    color: $blue;
}

input[type="submit"], .button {
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.index header {
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/header-image.jpg");
    background-size: cover;
    position: relative;
}

.headerBox {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: -100px;
}

.blueBG {
    background-color: $dBGrey;
}

.articleQuarters, .gallery {
    background-color: $green;
}

.leftText {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.under {
    padding: 100px 0;
    text-align: center;
    h2 {
        padding-top: 20px;
    }
}

.lblueButton {
    background-color: $blue;
    color: $dBGrey;
    padding: 10px 20px;
}

.dblueButton {
    background-color: $dBGrey;
    color: white;
    padding: 10px 20px;
    height: fit-content;
    border: none;
}

.articleQuarters div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textContainer, .imageContainer {
    width: 45%;
}

.textContainer {
    padding: 30px 0;
}

.imageContainer {
    position: relative;
    &.left {
        bottom: 40px;
        right: 40px;
        box-shadow: 40px 40px 0 $blue;
    }
    &.right {
        top: 40px;
        left: 40px;
        box-shadow: -40px 40px 0 $blue;
    }
}

.midNav {
    display: flex;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 60px;
    li {
        width: 50%;
        display: flex;
        justify-content: space-between;
        div {
            width: calc(100% - 75px);
        }
    }
}

.index .iconify {
    font-size: 6rem;
    padding: 10px;
    background-color: $blue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.whale {
    background-image: url("../images/banner.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center;
}

.smallBox {
    width: 200px;
    height: 200px;
    box-shadow: 30px 30px 0 $blue;
}

.lowerArticle {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

.lowerBlurb {
    width: calc(100% - 220px - 30px);
}

.gallery {
    div {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
        div {
            width: 32%;
        }
    }
}

footer {
    background-color: $blue;
    text-align: center;
    padding: 5px;
    color: black;
    p {
        padding: 0;
        margin: 0;
    }
}

.contact {
    header {
    height: 50vh;
    background-image: url("../images/contact-header.jpg");
        div {
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    main {
        background-color: $dBGrey;
        p {
            margin: 0;
            padding: 0;
        }
        section {
            display: flex;
            justify-content: space-between;
            .contactLeft {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 25%;
                position: relative;
                bottom: 100px;
                .email {
                    text-transform: uppercase;
                    padding: 20px 0;
                    font-family: 'Barlow', sans-serif;
                }
                ul {
                    display: flex;
                    li {
                        margin-right: 30px;
                    }
                }
            }
            .contactRight {
                width: 70%;
                background-color: $green;
                padding: 40px;
                position: relative;
                bottom: 130px;
                left: 30px;
                box-shadow: -30px 30px 0 $blue;
                .textBox {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }
                .dblueButton {
                    width: 100%;
                }
            }
        }
    }

    footer {
        height: 40px;
    }
}

input[type="text"], input[type="email"] {
    width: 49%;
    border: 0;
    border-bottom: 1px solid $blue;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    line-height: 32px;
    margin-bottom: 40px;
    background-color: $green;
    color: white;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 200px;
    border: 0;
    border: 1px solid $blue;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    line-height: 32px;
    background-color: $green;
    color: white;
    margin-bottom: 40px;
    padding: 20px;
}