html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

nav a:hover, nav a:focus {
  -webkit-text-decoration: underline #86e0f9 2px;
          text-decoration: underline #86e0f9 2px;
}

h3 {
  position: relative;
}

.mid-nav h3:hover::before {
  content: "";
  width: 100%;
  background-color: rgba(134, 224, 249, 0.2);
  display: inline-block;
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  border-radius: 10px;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  color: #FFF;
  background-color: #0C1423;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.wrapper-max {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

span {
  display: block;
}

*, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, a, input[type=submit], .email {
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  color: #FFF;
}

h2, h3, a, input[type=submit] {
  letter-spacing: 1px;
}

h1 {
  font-size: 8rem;
  line-height: 92px;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 3.2rem;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

nav a {
  line-height: 29px;
}

a, input[type=submit] {
  font-size: 2rem;
  line-height: 32px;
  text-decoration: none;
  border: none;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

header {
  background-size: cover;
  padding-top: 20px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
nav ul li {
  margin-left: 40px;
}
nav ul li a {
  color: #FFF;
  text-decoration: none;
}
nav ul li a.current {
  color: #86e0f9;
}

.half {
  width: 50%;
}

.lb-button {
  background-color: #86e0f9;
  padding: 10px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #0C1423;
}

.lb-button:hover, .lb-button:focus {
  -webkit-text-decoration: underline #0C1423 2px;
          text-decoration: underline #0C1423 2px;
}

.db-button {
  background-color: #0C1423;
  padding: 10px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 20px;
}

.db-button:hover, .db-button:focus,
.g-button:hover, .g-button:focus {
  -webkit-text-decoration: underline #FFF 2px;
          text-decoration: underline #FFF 2px;
}

.g-button {
  background-color: #0F614E;
  padding: 10px 20px;
  width: 100%;
  padding: 10px 20px;
}

.green-bg {
  background-color: #0F614E;
}

footer {
  background-color: #86e0f9;
  text-align: center;
  padding: 5px 0;
}
footer p {
  color: #000;
}

.index p {
  margin-bottom: 20px;
}
.index footer p {
  margin: 0;
}
.index header {
  height: 80vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/header-image.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/header-image.jpg");
}
.index header h1 {
  font-size: 13.8rem;
  line-height: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
}
.index header img {
  position: absolute;
  bottom: -100px;
  right: 0px;
}

.under-sea {
  padding: 120px 0;
  text-align: center;
}
.under-sea p {
  text-align: left;
}

.quarter-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.quarter-articles li {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quarter-articles li.text-wrapper {
  padding: 40px 0;
}
.quarter-articles li.right-align {
  text-align: right;
}
.quarter-articles li.right-align a {
  margin-left: auto;
}
.quarter-articles li img {
  height: 100%;
}
.quarter-articles li img.left-image {
  position: relative;
  bottom: 40px;
  right: 40px;
  -webkit-box-shadow: 40px 40px 0 #86e0f9;
          box-shadow: 40px 40px 0 #86e0f9;
}
.quarter-articles li img.right-image {
  position: relative;
  top: 40px;
  left: 40px;
  -webkit-box-shadow: -40px 40px 0 #86e0f9;
          box-shadow: -40px 40px 0 #86e0f9;
}

.mid-nav {
  padding: 120px 0 60px 0;
}
.mid-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mid-nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.mid-nav ul li .iconify {
  width: 50px;
  height: 50px;
  background-color: #86e0f9;
  border-radius: 50%;
  padding: 10px;
}
.mid-nav ul li div {
  width: calc(100% - 50px);
  padding-left: 20px;
}

.oh-look-shark {
  background-image: url("../images/banner.jpg");
  height: 60vh;
  background-size: cover;
  background-position: center;
}

.profile {
  padding: 60px 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
.profile .small-box {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-shadow: 30px 30px 0 #86e0f9;
          box-shadow: 30px 30px 0 #86e0f9;
}

.gallery {
  padding: 60px 0;
}
.gallery .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.social {
  width: 25%;
  padding-top: 100px;
}
.social .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social .social-icons li {
  margin-right: 10px;
}
.social .address {
  margin-bottom: 100px;
}
.social .address .email {
  font-size: 2.5rem;
  margin: 10px 0;
}

.contact-right {
  width: 73%;
  position: absolute;
  right: -30px;
  top: -250px;
}
.contact-right h1 {
  margin-bottom: 20px;
}
.contact-right .form {
  padding: 40px;
  -webkit-box-shadow: -30px 30px 0 #86e0f9;
          box-shadow: -30px 30px 0 #86e0f9;
}
.contact-right .form .db-button {
  width: 100%;
}

.upper-form {
  margin-bottom: 20px;
}

form .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
form input, form textarea {
  background-color: #0F614E;
  border: none;
  border-bottom: 1px solid #86e0f9;
  width: 49%;
  color: #FFF;
  padding: 10px;
}
form textarea {
  border: 1px solid #86e0f9;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}

.contact header {
  background-image: url("../images/contact-header.jpg");
  height: 50vh;
}
.contact .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
}

.blog header {
  background-image: url("../images/blog-header.jpg");
  height: 50vh;
}
.blog aside li {
  list-style-type: circle;
  margin-left: 20px;
}
.blog aside h3 {
  font-size: 2rem;
}
.blog h2 {
  padding-top: 20px;
}
.blog form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog form input {
  background-color: #0C1423;
  margin-bottom: 20px;
}
.blog form textarea {
  background-color: #0C1423;
}
.blog main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

aside {
  width: 32%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 300px 0 20px 10px;
  margin-top: 80px;
  position: relative;
}
aside img {
  height: 300px;
  width: 400px;
  position: absolute;
  top: -20px;
  right: 20px;
}

.r-post {
  margin-top: 40px;
}

.right-column {
  width: 65%;
  position: relative;
  bottom: 250px;
  margin-bottom: -230px;
}

.blog-post-img {
  position: relative;
  left: 20px;
  bottom: 20px;
}
.blog-post-img img {
  -webkit-box-shadow: -20px 20px 0 #86e0f9;
          box-shadow: -20px 20px 0 #86e0f9;
}

.blog-blurb {
  border-left: 2px solid #86e0f9;
  border-bottom: 2px solid #86e0f9;
  padding-left: 20px;
}

.date {
  margin-bottom: 20px;
}

.avatar {
  width: 10%;
}
.avatar img {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 20px 0;
}
article p {
  margin: 0;
}

.comment {
  width: 87%;
}

.data {
  line-height: initial;
  margin-bottom: 15px;
}

.comment-section {
  margin: 40px 0 40px 40px;
}

.mobile {
  display: none;
}

@media (max-width: 940px) {
  .contact-right {
    width: 70%;
  }

  h1 {
    font-size: 6rem;
  }

  .blog aside h3 {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav ul li {
    margin-left: 0;
  }

  h2 {
    font-size: 3.5rem;
  }

  .quarter-articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  .quarter-articles li {
    width: 100%;
  }
  .quarter-articles li img.left-image {
    position: static;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .quarter-articles li img.right-image {
    position: static;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }

  .mid-nav {
    padding: 30px 0 30px 0;
  }
  .mid-nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mid-nav ul li {
    width: 100%;
  }

  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: 100% 1fr;
  }
  .profile .small-box {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    margin-bottom: 20px;
  }

  .gallery {
    padding: 60px 0;
  }
  .gallery .flex div {
    width: 32%;
  }

  h1 {
    font-size: 4rem;
  }

  .social {
    width: 100%;
    padding-top: 320px;
  }
  .social .address {
    margin-bottom: 20px;
  }

  .contact-right {
    width: 100%;
    right: 0px;
  }
  .contact-right .form {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }

  .contact .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .blog main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  aside {
    width: 100%;
  }
  aside img {
    width: 100%;
  }

  .right-column {
    width: 100%;
    bottom: 200px;
  }

  .blog-post-img {
    position: static;
  }
  .blog-post-img img {
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }

  .comment-section {
    margin: 40px 0 40px 0px;
  }
}
@media (max-width: 480px) {
  .index header h1 {
    font-size: 6rem;
    line-height: initial;
  }
  .index header img {
    bottom: -20px;
  }

  .under-sea {
    padding: 30px 0;
  }

  aside {
    padding: 20px 10px 20px 10px;
  }
  aside img {
    height: auto;
    width: 100%;
    position: static;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: unset;
    position: fixed;
    padding-right: 100px;
    z-index: 4;
  }

  .subMenu {
    flex-direction: column;
    position: absolute;
    display: none;
    background-color: darkgray;
    padding: 15px;
    border-radius: 15px;
    z-index: 2;
    left: 0;
    right: 0;
  }
}